@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CeraRound";
  src: url("../fonts/CeraRoundThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "CeraRound";
  src: url("../fonts/CeraRoundLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CeraRound";
  src: url("../fonts/CeraRoundRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CeraRound";
  src: url("../fonts/CeraRoundBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CeraRound";
  src: url("../fonts/CeraRoundBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

body {
  @apply text-[#919ea4];
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  @apply w-2;
}

body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  @apply rounded-[6px] bg-main-500;
}

body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  @apply bg-[#0D182E];
}

nav > ul > li > a.active {
  @apply text-main-500 after:w-full;
}
